/* ALL WORK FOR TODO CSSS */

* {
    margin: 0%;
    padding: 0%;
  }
  
  /* ================= Navbar Styling */
  .navbar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  #title {
    text-decoration: none;
   
    color: white;
    font-size: 30px;
  }
  #LogOutbtn{
    margin-top: 5px;
    box-shadow:#0D6EFD 0px 0px 20px -10px inset,#0D6EFD 0px 18px 36px -25px inset;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    width: 10%;
  }
  
  /* Body Styling */
  .container {
    margin-top: 20px;
    border-radius: 15px;
    padding-bottom: 10px;
    box-shadow: rgba(70, 100, 234, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  #newtask {
    height: 100px;
    padding-top: 20px;
    margin-left: 5% !important;
  }
  
  #userinput,
  .updateInput {
    border: none;
    box-shadow:#0D6EFD 0px 0px 20px -10px inset,#0D6EFD 0px 18px 36px -25px inset;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 10px;
    width: 80%;
    height: 60px;
  }
  
  .btnwork {
    margin-top: 5px;
    box-shadow:#0D6EFD 0px 0px 20px -10px inset,#0D6EFD 0px 18px 36px -25px inset;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    width: 10%;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    #newtask {
        margin-left: 0;
    }
  
    #userinput,
    .updateInput {
        width: 100%;
        margin-bottom: 10px;
    }
  
    .btnwork {
        width: 100%;
    }
    .container {
        margin: 10px;
        height: 176px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }
  
  
  
  